version: '3.8'

services:
  web:
    image: golang:1.25.4-alpine
    working_dir: /app
    command: ["sh", "-c", "go run ./cmd/server"]
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    environment:
      - ENV=development
      - SMTP_HOST=mailhog
      - SMTP_PORT=1025
      - SMTP_FROM=camagru@localhost
      - SMTP_USER=
      - SMTP_PASS=
    depends_on:
      - mailhog
    restart: unless-stopped

  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "1025:1025"   # SMTP
      - "8025:8025"   # Web UI
    restart: unless-stopped